.caja{
    max-width: 1200px;
    width: 90%;
    background-color: grey;
    margin:1rem;
    padding: 1rem;
    border-radius: 15px;
}
.caja3{
    font-size: large;
    font-weight: 800;
    background-color: greenyellow;
    color: brown;
    margin: 1rem;
    padding: 1rem;
}

h1{
    color: black;
}

body{
    background: linear-gradient( 9deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 27%, rgba(161, 6, 43, 0.7287289915966386) 49%, rgba(0, 212, 255, 1) 100%);
}